$button-color: white;
$button-background-color: #2196f3;
$button-hover-color: #1976d2;
$slider-background-color: #ccc;
$slider-color: #926010;
$slider-light-color: #83560f;
$slider-light-background: white;
$slider-dark-color: #ffa81d;

$nav-bar-icon-color: white;
$nav-background: #333;
$nav-x-color: #f9a51b;

$text-primary-color: white;

$not-found-container: #cacaca;

$shadowed: rgba(0, 0, 0, 0.1);
$product-shadowed: rgba(0, 0, 0, 0.7);
$more-link-color-background: #f9a51b;
$more-link-hover: #e88a1b;
$more-color: white;

$filter-background: #fff;

$footer-bar: #333;

// use
$border-color: black;

$light-bg-color: #ffffff;
$light-container-bg-color: #bebebe;

$light-text-color: #000000;

$dark-bg-color: #121212;
$dark-text-color: #ffffff;
$dark-container-bg-color: #bebebe;

$skel-load-color: #f0f0f0;
$skel-load-backgrond: #ddd;
$skel-load-1: #e0e0e0;
$skel-load-2: #f0f0f0;
