@import "./colors.scss";
@import "./mixins.scss";

@import "./styled-components/cart-styles.scss";
@import "./styled-components/about-styles.scss";
@import "./styled-components/contact-styles.scss";
@import "./styled-components/modal-styles.scss";
@import "./styled-components/products-styles.scss";
@import "./styled-components/skeleton-styles.scss";
@import "./styled-components/bar-styles.scss";
@import "./styled-components/no-page-styles.scss";

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;

  &.light {
    background-color: $light-bg-color;
    color: $light-text-color;
  }

  &.dark {
    background-color: $dark-bg-color;
    color: $dark-text-color;
    h2 {
      color: $dark-bg-color;
    }
  }
}

.content {
  text-align: center;
  min-height: calc(100vh - 80px);
  padding-bottom: 15%;
}

.not-found-page {
  @include nopage;
}

.navbar {
  @include navbar;
}

.footer {
  @include footer;
}

.product-showcase {
  @include showcase;
}

.skeleton-loader {
  @include skeleton;
}

.products-page {
  @include products-page;
}

.modal-overlay {
  @include common-modal-overlay;
}

.cart-page {
  @include cart-page-styles;
}

.contact-page {
  @include contact;
}

.about-page {
  @include about;
}

.cart-page {
  @include cart-styling;
}

.btn {
  background-color: yellow;
  width: 20%;
  height: 50px;
  border-radius: 20px;
  margin-left: 1%;
  &:hover {
    background-color: rgb(177, 177, 0);
    color: $button-color;
  }
}

a {
  text-decoration: none;
  color: rgb(168, 168, 0);
}
