@import "./colors.scss";
@import "./mixins.scss";

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;

  &.light {
    background-color: $light-bg-color;
    color: $light-text-color;
  }

  &.dark {
    background-color: $dark-bg-color;
    color: $dark-text-color;
    h2 {
      color: $dark-bg-color;
    }
  }
}

.content {
  text-align: center;
  min-height: calc(100vh - 80px);
  padding-bottom: 15%;
}

.navbar {
  padding: 16px;
  background-color: inherit;
  color: inherit;
  @include flex-container(row, space-between, center);

  a {
    color: inherit;
    text-decoration: none;
    margin-right: 16px;
  }

  button {
    padding: 8px 16px;
    background-color: inherit;
    color: inherit;
    border: 1px solid currentColor;
    cursor: pointer;
  }
}

.not-found-page {
  text-align: center;
  padding: 50px;
  color: $not-found-container;

  h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }

  button {
    padding: 10px 20px;
    background-color: $button-background-color;
    color: $button-color;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: $button-hover-color;
    }
  }
}

.navbar {
  position: sticky;
  top: 0;
  background-color: $nav-background;
  color: $text-primary-color;
  padding: 0 16px;
  width: 100%;

  .navbar-container {
    @include flex-container(row, space-between, center);
    height: 60px;
    width: 98%;
  }

  .logo {
    height: 55px;
  }

  .navbar-links {
    ul {
      display: flex;
      justify-items: flex-end;
      list-style: none;

      li {
        padding-left: 16px;

        a {
          color: inherit;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .hamburger {
    display: none;
    cursor: pointer;

    .bar {
      width: 25px;
      height: 3px;
      background-color: $nav-bar-icon-color;
      margin: 5px 15px;
      transition: all 0.4s ease-in-out;

      &.bar1 {
        transform-origin: top left;
      }

      &.bar2 {
        transform-origin: bottom left;
      }

      &.open {
        background-color: $nav-x-color;
      }
      &.open.bar1 {
        transform: rotate(45deg);
        position: relative;
        top: 1px;
      }
      &.open.bar2 {
        transform: rotate(-45deg);
        position: relative;
        top: 10px;
      }
    }
  }

  @media (max-width: 768px) {
    .navbar-links {
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: $nav-background;
      display: flex;
      flex-direction: column;
      align-items: center;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.4s ease-out;

      &.open {
        max-height: 500px;
      }

      ul {
        @include flex-container(column, center, center);

        li {
          padding: 10%;
          text-align: center;
        }
      }
    }

    .hamburger {
      display: block;
    }
  }
  .theme-switch-container {
    @include flex-container;
    margin-right: 2%;

    .switch {
      position: relative;
      display: inline-block;
      width: 80px;
      height: 34px;

      input {
        opacity: 0;
        width: 0;
        height: 0;
      }

      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $slider-background-color;
        transition: background-color 0.4s;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 10px;
        color: $slider-color;
        font-size: 0.8em;
        font-weight: bold;

        &.round {
          border-radius: 34px;
        }

        &:before {
          content: "";
          position: absolute;
          height: 26px;
          width: 26px;
          background-color: $slider-light-background;
          border-radius: 50%;
          left: 4px;
          bottom: 4px;
          transition: transform 0.4s;
        }

        &::after {
          content: "Light";
          position: absolute;
          right: 10px;
          color: $slider-light-color;
        }
      }

      input:checked + .slider {
        background-color: $button-background-color;
        justify-content: flex-start;

        &:before {
          transform: translateX(44px);
        }

        &::after {
          content: "Dark";
          left: 10px;
          right: auto;
          color: $slider-dark-color;
        }
      }
    }
  }
}

.footer {
  background-color: $footer-bar;
  color: $text-primary-color;
  text-align: center;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;

  .footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
}

.product-showcase {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  padding: 20px;

  .product-card {
    position: relative;
    width: calc(33.333% - 150px);
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 0 4px 6px $shadowed;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }

    .product-image {
      height: 80px;
      width: 90%;
      height: auto;
      display: block;
      transition: opacity 0.3s ease-in-out;
    }

    .product-info {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $product-shadowed;
      color: $text-primary-color;
      opacity: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 10px;
      transition: opacity 0.3s ease-in-out;

      h3 {
        margin: 10px 0;
        font-size: 1.2em;
      }

      p {
        font-size: 1em;
        margin: 10px 0;
      }

      .more-link {
        background-color: $more-link-color-background;
        color: $more-color;
        padding: 5px 10px;
        border-radius: 5px;
        text-decoration: none;
        font-weight: bold;
        transition: background-color 0.3s ease-in-out;

        &:hover {
          background-color: $more-link-hover;
        }
      }
    }

    &:hover .product-info {
      opacity: 1;
    }
  }
}

.skeleton-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $skel-load-color;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  .skeleton-image {
    width: 100%;
    height: 150px;
    background-color: $skel-load-backgrond;
    border-radius: 10px;
    margin-bottom: 10px;
    animation: pulse 1.5s infinite ease-in-out;
  }

  .skeleton-text {
    width: 100%;
    height: 20px;
    background-color: $skel-load-backgrond;
    border-radius: 4px;
    margin-bottom: 10px;
    animation: pulse 1.5s infinite ease-in-out;

    &.short {
      width: 60%;
    }
  }
  @keyframes pulse {
    0% {
      background-color: $skel-load-1;
    }
    50% {
      background-color: $skel-load-2;
    }
    100% {
      background-color: $skel-load-1;
    }
  }
}

.products-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: $light-bg-color;

  body.dark & {
    background-color: $dark-bg-color;
  }

  .filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    background-color: $filter-background;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 10px $shadowed;

    div {
      margin: 10px;
    }

    input[type="checkbox"] {
      margin-right: 8px;
      accent-color: #007bff;
    }

    label {
      font-size: 16px;
      font-weight: 500;
      color: #333;
    }
  }

  .content-area {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    height: 60vh;
  }

  .product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 20px;
    width: 60%;
    overflow-y: auto;
    padding-right: 10px;
    max-height: 60vh;
  }

  .product-card {
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }

    .product-image {
      width: 100%;
      height: auto;
      border-radius: 8px;
      box-shadow: 0 4px 8px $shadowed;
    }
  }

  .product-preview {
    width: 35%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #525252;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px $shadowed;
    height: 40vh;

    img {
      max-width: 100%;
      height: 100px;
      border-radius: 8px;
      box-shadow: 0 4px 8px $shadowed;
    }

    .selected-product {
      text-align: center;

      .more-details-button {
        margin-top: 15px;
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        color: #fff;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;

  .modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 90%;
    z-index: 1001;
    box-shadow: 0 8px 20px $shadowed;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .modal-product-image {
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px $shadowed;
  }

  .modal-content h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
  }

  .modal-content p {
    font-size: 1em;
    margin-bottom: 15px;
    color: #555;
  }

  .close-modal-button {
    padding: 10px 20px;
    background-color: #2196f3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    margin-top: 20px;
  }

  .close-modal-button:hover {
    background-color: #1976d2;
  }

  .close-modal-button:focus {
    outline: none;
    box-shadow: 0 0 5px #2196f3;
  }
  .go-to-cart-button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #218838;
    }
  }
}

.cart-page {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;

  p {
    text-align: center;
  }

  h1 {
    margin-bottom: 20px;
    font-size: 2rem;
    text-align: center;
  }

  .cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: $light-bg-color;

    body.dark & {
      background-color: $dark-bg-color;
    }

    img.cart-item-image {
      width: 80px;
      height: 80px;
      object-fit: cover;
      margin-right: 20px;
      border-radius: 8px;
    }

    .cart-item-details {
      flex-grow: 1;

      .quantity-control {
        display: flex;
        align-items: center;

        span {
          margin: 0 10px;
        }
      }
    }

    .remove-button {
      background-color: #ff4d4d;
      color: #fff;
      border-radius: 5px;
      padding: 5px 10px;

      &:hover {
        background-color: #e60000;
      }
    }
  }

  .cart-summary {
    text-align: center;
    margin-top: 30px;

    p {
      text-align: center;
      font-size: 1.2rem;
    }

    button {
      margin-top: 20px;
    }
  }

  .modal-content {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    text-align: center;

    h2 {
      margin-bottom: 20px;
      color: black;
    }

    button {
      margin: 10px;
    }
  }

  .modal-overlay {
    background-color: $shadowed;

    h2 {
      color: black;
    }
  }
}

.contact-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 80vh;
  gap: 20px;

  .map-container {
    iframe {
      width: 100%;
      height: 100%;
      border: 0;
      border-radius: 10px;
    }
  }

  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    background-color: $light-bg-color;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    h1 {
      margin-bottom: 20px;
      color: $text-primary-color;
    }

    form {
      display: flex;
      flex-direction: column;

      input,
      textarea {
        margin-bottom: 15px;
        padding: 10px;
        font-size: 1rem;
        border-radius: 5px;
        border: 1px solid $border-color;
        background-color: yellow;

        color: $dark-text-color;
      }

      textarea {
        height: 150px;
        resize: none;
      }

      button {
        margin-top: 10px;
      }
    }
  }

  &.dark-mode {
    background-color: $dark-bg-color;

    .form-container {
      background-color: grey;

      h1 {
        color: $dark-text-color;
      }

      input,
      textarea {
        background-color: pink;
        color: $dark-text-color;
        border: 1px solid $border-color;
      }

      button {
        background-color: white;
        color: $dark-text-color;
      }
    }
  }
}

.about-page {
  padding: 40px;
  background-color: $light-bg-color;
  color: $light-text-color;
  line-height: 1.6;
  font-family: Arial, sans-serif;

  h1 {
    font-size: 1.5rem;
    color: $text-primary-color;
    margin-bottom: 20px;
  }

  section {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px $shadowed;
    background-color: $filter-background;

    h2 {
      font-size: 1.75rem;
      color: $nav-background;
      margin-bottom: 10px;
    }

    p {
      font-size: 1.125rem;
      color: $light-text-color;
    }
  }

  &.dark-mode {
    background-color: $dark-bg-color;
    color: $dark-text-color;

    h1 {
      color: $dark-text-color;
    }

    section {
      background-color: $dark-bg-color;
      box-shadow: 0 4px 8px $product-shadowed;

      h2 {
        color: $nav-bar-icon-color;
      }

      p {
        color: $dark-text-color;
      }
    }
  }
}

.cart-page {
  padding: 40px;
  background-color: $light-bg-color;
  color: $light-text-color;
  font-family: Arial, sans-serif;
  line-height: 1.6;

  h1 {
    font-size: 2.5rem;
    color: $text-primary-color;
    margin-bottom: 30px;
  }

  .cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid $border-color;
    border-radius: 10px;
    background-color: $filter-background;
    box-shadow: 0 4px 8px $shadowed;

    .cart-item-image {
      width: 100px;
      height: auto;
      border-radius: 10px;
      margin-right: 20px;
    }

    .cart-item-details {
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      p {
        margin: 0 0 10px;
        font-size: 1.2rem;
        color: $light-text-color;
      }

      .quantity-control {
        display: flex;
        align-items: center;

        span {
          margin: 0 10px;
          font-size: 1.2rem;
        }

        button {
          background-color: $button-background-color;
          color: $button-color;
          padding: 5px 10px;
          border-radius: 5px;
          border: none;
          cursor: pointer;

          &:hover {
            background-color: $button-hover-color;
          }
        }
      }
    }

    .remove-button {
      background-color: $nav-x-color;
      color: $button-color;
      padding: 5px 15px;
      border-radius: 5px;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: darken($nav-x-color, 10%);
      }
    }
  }

  .cart-summary {
    margin-top: 30px;
    padding: 20px;
    border: 1px solid $border-color;
    border-radius: 10px;
    background-color: $filter-background;
    box-shadow: 0 4px 8px $shadowed;
    font-size: 1.5rem;

    p {
      margin: 10px 0;
      color: $light-text-color;
    }

    button {
      margin-top: 20px;
      padding: 10px 20px;
      font-size: 1.2rem;
      background-color: $button-background-color;
      color: $button-color;
      border: none;
      border-radius: 10px;
      cursor: pointer;

      &:hover {
        background-color: $button-hover-color;
      }
    }
  }

  .modal-content {
    padding: 30px;
    background-color: $light-bg-color;
    border-radius: 10px;
    box-shadow: 0 4px 8px $shadowed;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;

    h2 {
      margin-bottom: 20px;
      color: $text-primary-color;
    }

    button {
      margin: 10px;
      padding: 10px 20px;
      font-size: 1.2rem;
      background-color: $button-background-color;
      color: $button-color;
      border: none;
      border-radius: 10px;
      cursor: pointer;

      &:hover {
        background-color: $button-hover-color;
      }
    }
  }

  .modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
  }

  &.dark-mode {
    background-color: $dark-bg-color;
    color: $dark-text-color;

    h1 {
      color: $dark-text-color;
    }

    .cart-item,
    .cart-summary,
    .modal-content {
      background-color: $dark-bg-color;
      color: $dark-text-color;
      box-shadow: 0 4px 8px $product-shadowed;

      p {
        color: $dark-text-color;
      }
    }

    .remove-button {
      background-color: lighten($nav-x-color, 10%);

      &:hover {
        background-color: $nav-x-color;
      }
    }

    .modal-overlay {
      background-color: rgba(0, 0, 0, 0.9);
    }
  }
}
