@mixin contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 80vh;
  gap: 20px;

  .map-container {
    iframe {
      width: 100%;
      height: 100%;
      border: 0;
      border-radius: 10px;
    }
  }

  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    background-color: $light-bg-color;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    h1 {
      margin-bottom: 20px;
      color: $light-text-color;
    }

    form {
      display: flex;
      flex-direction: column;

      input,
      textarea {
        margin-bottom: 15px;
        padding: 10px;
        font-size: 1rem;
        border-radius: 5px;
        border: 1px solid $border-color;
        background-color: rgb(238, 238, 238);

        color: $light-text-color;
      }

      textarea {
        height: 150px;
        resize: none;
      }

      .button-contact {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  &.dark-mode {
    background-color: $dark-bg-color;

    .form-container {
      background-color: grey;

      h1 {
        color: $dark-text-color;
      }

      input,
      textarea {
        color: $light-text-color;
        border: 1px solid $border-color;
      }
    }
  }
}
